<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308085767438-0a9blc76u9dgel64palmiif1m2f02ooq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308085767438-0a9blc76u9dgel64palmiif1m2f02ooq</string>
	<key>API_KEY</key>
	<string>AIzaSyDvbvxhTVR3wVm2sKOMkpBLtHmA049Mv-s</string>
	<key>GCM_SENDER_ID</key>
	<string>308085767438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.hhOFp.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-cc444</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-cc444.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308085767438:ios:413e3913d6172212406b5f</string>
</dict>
</plist>